
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
.pytest_cache/
instance/
*.log
*.pot
.env
.env.local
.env.*.local
static/uploads/*
!static/uploads/.gitkeep  
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
!model/labels.json  # Keep this file
*.db
*.sqlite3
render.yaml
config.py
app.log

