Flask==2.3.3
Werkzeug==2.3.7
gunicorn==21.2.0
Pillow==10.0.1
numpy==1.25.0
tensorflow-cpu==2.13.0 
python-dotenv==1.0.0
Authlib==1.2.1
google-generativeai==0.3.2
Flask-Caching==2.1.0
pandas==2.1.4
psycopg2-binary==2.9.9 